.controller {
    display: none;
}

#scoreboard, #specialboard {
    height: 100%;
    width: 17%;
    position: relative;
    float: left;
}

#scoreboard {
    width: 18.5%;
}

.yourboard, .myboard {
    height: var(--card-height);
    width: var(--card-width);
    position: absolute;
}

.yourboard {
    top: 10%;
    left: 25%;
}

.myboard {
    bottom: 10%;
    left: 25%;
}

.score {
    text-align: center;
    color: var(--text-score-color);
    font-size: 5em;
    font-weight: bold;
    text-shadow: 2px 4px black;
    position: absolute;
    line-height: 100%;
}

#yourscore {
    top: 35%;
    left: 35%;
}

#myscore {
    top: 55%;
    left: 35%;
}

#table {
    height: 100%;
    width: 64.5%;
    position: relative;
    float: left;
}

#yourcontainer, #mycontainer {
    height: 25%;
    width: 100%;
    position: relative;
}

#yourcards, #mycards {
    height: 80%;
    width: 80%;
    position: absolute;
    top: 10%;
    left: 10%;
}

#poolcontainer {
    height: 50%;
    width: 100%;
}

.samplecard, #specialcard {
    height: var(--card-height);
    width: var(--card-width);
    position: absolute;
}

.samplecard {
    background-image: url('../cardback.jpg');
    background-size: cover;
    border-radius: 10px;
    top: 5%;
    left: 25%;
}

#specialcard {
    bottom: 5%;
    left: 25%;
}

.infobox {
    height: 40%;
    width: 100%;
    position: absolute;
    top: 30%;
}

#poolcards {
    height: 40%;
    width: 100%;
    position: relative;
    top: 30%;
}

.card {
    height: var(--card-height);
    width: var(--card-width);
    position: absolute;
    right: 0;
    background-size: cover;
    border-radius: 10px;
}